<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <DR_DuplicateCmsBlock>
            <version>1.0.0</version>
        </DR_DuplicateCmsBlock>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <DR_DuplicateCmsBlock before="Mage_Adminhtml">DR_DuplicateCmsBlock_Adminhtml</DR_DuplicateCmsBlock>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <dr_duplicatecmsblock>
                        <type>singleton</type>
                        <class>dr_duplicatecmsblock/observer</class>
                        <method>addDuplicateButton</method>
                    </dr_duplicatecmsblock>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <translate>
            <modules>
                <dr_duplicatecmsblock>
                    <files>
                        <default>DR_DuplicateCmsBlock.csv</default>
                    </files>
                </dr_duplicatecmsblock>
            </modules>
        </translate>
    </adminhtml>

    <global>
        <helpers>
            <dr_duplicatecmsblock>
                <class>DR_DuplicateCmsBlock_Helper</class>
            </dr_duplicatecmsblock>
        </helpers>
        <models>
            <dr_duplicatecmsblock>
                <class>DR_DuplicateCmsBlock_Model</class>
            </dr_duplicatecmsblock>
        </models>
    </global>
</config>